In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Import the relevant datasets

In [37]:
#customer dataset

customer = pd.read_csv('../raw_data/olist_datasets/olist_customers_dataset.csv')

In [3]:
#geolocation dataset

geolocation = pd.read_csv('../raw_data/olist_datasets/olist_geolocation_dataset.csv')

In [4]:
#items dataset

items = pd.read_csv('../raw_data/olist_datasets/olist_order_items_dataset.csv')

In [5]:
#payments dataset

payments = pd.read_csv('../raw_data/olist_datasets/olist_order_payments_dataset.csv')

In [6]:
#reviews dataset

reviews = pd.read_csv('../raw_data/olist_datasets/olist_order_reviews_dataset.csv')

In [40]:
#orders dataset

orders = pd.read_csv('../raw_data/olist_datasets/olist_orders_dataset.csv')

In [8]:
#products dataset

products = pd.read_csv('../raw_data/olist_datasets/olist_products_dataset.csv')

In [9]:
#sellers dataset

sellers = pd.read_csv('../raw_data/olist_datasets/olist_sellers_dataset.csv')

In [38]:
#product category dataset

prod_category = pd.read_csv('../raw_data/olist_datasets/product_category_name_translation.csv')

## EDA

In [11]:
customer.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [12]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [13]:
orders.shape

(99441, 8)

In [14]:
#have to convert dates to datetime
orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [15]:
orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

# ORDERS

In [16]:
orders[orders['order_delivered_carrier_date'].isnull()]

#understand, percentage of unavailable products and canceled orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00
103,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,2018-08-03 17:44:42,2018-08-07 06:15:14,NaN,NaN,2018-08-21 00:00:00
128,15bed8e2fec7fdbadb186b57c46c92f2,f3f0e613e0bdb9c7cee75504f0f90679,processing,2017-09-03 14:22:03,2017-09-03 14:30:09,NaN,NaN,2017-10-03 00:00:00
266,8e24261a7e58791d10cb1bf9da94df5c,64a254d30eed42cd0e6c36dddb88adf0,unavailable,2017-11-16 15:09:28,2017-11-16 15:26:57,NaN,NaN,2017-12-05 00:00:00
324,d3c8851a6651eeff2f73b0e011ac45d0,957f8e082185574de25992dc659ebbc0,processing,2016-10-05 22:44:13,2016-10-06 15:51:05,NaN,NaN,2016-12-09 00:00:00
...,...,...,...,...,...,...,...,...
99283,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaN,NaN,NaN,2018-10-01 00:00:00
99313,e9e64a17afa9653aacf2616d94c005b8,b4cd0522e632e481f8eaf766a2646e86,processing,2018-01-05 23:07:24,2018-01-09 07:18:05,NaN,NaN,2018-02-06 00:00:00
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaN,NaN,NaN,2018-09-27 00:00:00
99348,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaN,NaN,2017-09-15 00:00:00
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaN,NaN,2017-10-23 00:00:00

In [17]:
orders[orders['order_status'] == 'canceled']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
397,1b9ecfe83cdc259250e1a8aca174f0ad,6d6b50b66d79f80827b6d96751528d30,canceled,2018-08-04 14:29:27,2018-08-07 04:10:26,NaN,NaN,2018-08-14 00:00:00
613,714fb133a6730ab81fa1d3c1b2007291,e3fe72696c4713d64d3c10afe71e75ed,canceled,2018-01-26 21:34:08,2018-01-26 21:58:39,2018-01-29 22:33:25,NaN,2018-02-22 00:00:00
1058,3a129877493c8189c59c60eb71d97c29,0913cdce793684e52bbfac69d87e91fd,canceled,2018-01-25 13:34:24,2018-01-25 13:50:20,2018-01-26 21:42:18,NaN,2018-02-23 00:00:00
1130,00b1cb0320190ca0daa2c88b35206009,3532ba38a3fd242259a514ac2b6ae6b6,canceled,2018-08-28 15:26:39,NaN,NaN,NaN,2018-09-12 00:00:00
1801,ed3efbd3a87bea76c2812c66a0b32219,191984a8ba4cbb2145acb4fe35b69664,canceled,2018-09-20 13:54:16,NaN,NaN,NaN,2018-10-17 00:00:00
...,...,...,...,...,...,...,...,...
98791,b159d0ce7cd881052da94fa165617b05,e0c3bc5ce0836b975d6b2a8ce7bb0e3e,canceled,2017-03-11 19:51:36,2017-03-11 19:51:36,NaN,NaN,2017-03-30 00:00:00
98909,e49e7ce1471b4693482d40c2bd3ad196,e4e7ab3f449aeb401f0216f86c2104db,canceled,2018-08-07 11:16:28,NaN,NaN,NaN,2018-08-10 00:00:00
99143,6560fb10610771449cb0463c5ba12199,0d07d0a588caf93cc66b7a8aff86d2fe,canceled,2017-10-01 22:26:25,2017-10-01 22:35:22,NaN,NaN,2017-10-27 00:00:00
99283,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaN,NaN,NaN,2018-10-01 00:00:00
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaN,NaN,NaN,2018-09-27 00:00:00

In [18]:
orders[orders['order_status'] == 'unavailable']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
266,8e24261a7e58791d10cb1bf9da94df5c,64a254d30eed42cd0e6c36dddb88adf0,unavailable,2017-11-16 15:09:28,2017-11-16 15:26:57,NaN,NaN,2017-12-05 00:00:00
586,c272bcd21c287498b4883c7512019702,9582c5bbecc65eb568e2c1d839b5cba1,unavailable,2018-01-31 11:31:37,2018-01-31 14:23:50,NaN,NaN,2018-02-16 00:00:00
687,37553832a3a89c9b2db59701c357ca67,7607cd563696c27ede287e515812d528,unavailable,2017-08-14 17:38:02,2017-08-17 00:15:18,NaN,NaN,2017-09-05 00:00:00
737,d57e15fb07fd180f06ab3926b39edcd2,470b93b3f1cde85550fc74cd3a476c78,unavailable,2018-01-08 19:39:03,2018-01-09 07:26:08,NaN,NaN,2018-02-06 00:00:00
1160,2f634e2cebf8c0283e7ef0989f77d217,7353b0fb8e8d9675e3a704c60ca44ebe,unavailable,2017-09-27 20:55:33,2017-09-28 01:32:50,NaN,NaN,2017-10-27 00:00:00
...,...,...,...,...,...,...,...,...
99147,6cf5c427fb11bc5fe8abefa86aa7ba0b,91ac14a1e50bc022eeecf0c2ba37006a,unavailable,2017-10-17 10:53:48,2017-10-19 03:12:43,NaN,NaN,2017-10-27 00:00:00
99233,1c7c8ab324927f5b6e52338bd110bef4,95b1767df51d6fa09402267d8de314df,unavailable,2017-12-23 18:48:09,2017-12-23 18:54:22,NaN,NaN,2018-01-19 00:00:00
99252,aaab15da689073f8f9aa978a390a69d1,df20748206e4b865b2f14a5eabbfcf34,unavailable,2018-01-16 14:27:59,2018-01-17 03:37:34,NaN,NaN,2018-02-06 00:00:00
99348,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaN,NaN,2017-09-15 00:00:00
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaN,NaN,2017-10-23 00:00:00

In [19]:
orders['order_status'].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

## Convert Order Time Stamps to Date Time and Feature Engineer

In [20]:
orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [21]:
from datetime import datetime

orders[['order_purchase_timestamp', 'order_approved_at', \
        'order_delivered_carrier_date', 'order_delivered_customer_date', \
        'order_estimated_delivery_date']] = orders[['order_purchase_timestamp', 'order_approved_at', \
        'order_delivered_carrier_date', 'order_delivered_customer_date', \
        'order_estimated_delivery_date']].apply(pd.to_datetime, errors='coerce')

### CUSTOMER ORDER FEATURES

In [22]:
# week number

orders['order_week_purchase'] = orders['order_purchase_timestamp'].dt.strftime('%W')

#month of purchase
orders['order_month_purchase'] = orders['order_purchase_timestamp'].dt.strftime('%m')

#year of purchase
orders['order_year_purchase'] = orders['order_purchase_timestamp'].dt.strftime('%Y')

#day of week of purchase
orders['order_dow_purchase'] = orders['order_purchase_timestamp'].dt.strftime('%a')

#time of purchase
orders['order_time_purchase'] = orders['order_purchase_timestamp'].dt.strftime('%X')

In [23]:
#function to apply date mapping

orders['order_time_day_purchase'] = orders['order_time_purchase'].apply(
    lambda x: 'morning' if x >= '06:00:00' and x < '12:00:00' else
              'afternoon' if x >= '12:00:00' and x < '18:00:00' else
              'evening' if x >= '18:00:00' and x < '21:00:00' else
              'night'
)

### APPROVED ORDER FEATURES

In [24]:
orders['order_week_approved'] = orders['order_approved_at'].dt.strftime('%W')

#month of approved
orders['order_month_approved'] = orders['order_approved_at'].dt.strftime('%m')

#year of approved
orders['order_year_approved'] = orders['order_approved_at'].dt.strftime('%Y')

#day of week of approved
orders['order_dow_approved'] = orders['order_approved_at'].dt.strftime('%a')

#time of approved
orders['order_time_approved'] = orders['order_approved_at'].dt.strftime('%X')

### Carrier Delivered Features

In [25]:
orders['order_week_carrier'] = orders['order_delivered_carrier_date'].dt.strftime('%W')

#month of carrier
orders['order_month_carrier'] = orders['order_delivered_carrier_date'].dt.strftime('%m')

#year of carrier
orders['order_year_carrier'] = orders['order_delivered_carrier_date'].dt.strftime('%Y')

#day of week of carrier
orders['order_dow_carrier'] = orders['order_delivered_carrier_date'].dt.strftime('%a')

#time of carrier
orders['order_time_carrier'] = orders['order_delivered_carrier_date'].dt.strftime('%X')

### DELIVERED TO CUSTOMER FEATURES

In [26]:
orders['order_week_customer_received'] = orders['order_delivered_customer_date'].dt.strftime('%W')

#month of customer received
orders['order_month_customer_received'] = orders['order_delivered_customer_date'].dt.strftime('%m')

#year of customer received
orders['order_year_customer_received'] = orders['order_delivered_customer_date'].dt.strftime('%Y')

#day of week of customer received
orders['order_dow_customer_received'] = orders['order_delivered_customer_date'].dt.strftime('%a')

#time of customer received
orders['order_time_customer_received'] = orders['order_delivered_customer_date'].dt.strftime('%X')

### Estimated Receive Time

In [27]:
orders['order_week_customer_received_estimate'] = orders['order_estimated_delivery_date'].dt.strftime('%W')

#month of customer received estimate
orders['order_month_customer_received_estimate'] = orders['order_estimated_delivery_date'].dt.strftime('%m')

#year of customer received estimate
orders['order_year_customer_received_estimate'] = orders['order_estimated_delivery_date'].dt.strftime('%Y')

#day of week of customer received estimate
orders['order_dow_customer_received_estimate'] = orders['order_estimated_delivery_date'].dt.strftime('%a')

In [28]:
orders[50:100]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_week_purchase,order_month_purchase,...,order_time_carrier,order_week_customer_received,order_month_customer_received,order_year_customer_received,order_dow_customer_received,order_time_customer_received,order_week_customer_received_estimate,order_month_customer_received_estimate,order_year_customer_received_estimate,order_dow_customer_received_estimate
50,138849fd84dff2fb4ca70a0a34c4aa1c,9b18f3fc296990b97854e351334a32f6,delivered,2018-02-01 14:02:19,2018-02-03 02:53:07,2018-02-06 19:13:26,2018-02-14 13:41:59,2018-02-23,05,02,...,19:13:26,07,02,2018,Wed,13:41:59,08,02,2018,Fri
51,47aa4816b27ba60ec948cd019cc1afc1,148348ff65384b4249b762579532e248,delivered,2018-06-26 13:42:52,2018-06-27 08:35:32,2018-06-27 13:20:00,2018-07-03 18:37:46,2018-07-20,26,06,...,13:20:00,27,07,2018,Tue,18:37:46,29,07,2018,Fri
52,9faeb9b2746b9d7526aef5acb08e2aa0,79183cd650e2bb0d475b0067d45946ac,delivered,2018-07-26 14:39:59,2018-07-26 14:55:10,2018-07-27 12:04:00,2018-07-31 22:26:55,2018-08-16,30,07,...,12:04:00,31,07,2018,Tue,22:26:55,33,08,2018,Thu
53,641fb0752bf5b5940c376b3a8bb9dc52,f5afca14dfa9dc64251cf2b45c54c363,delivered,2017-12-15 00:06:10,2017-12-15 00:14:55,2017-12-19 01:58:00,2018-01-03 15:09:32,2018-01-16,50,12,...,01:58:00,01,01,2018,Wed,15:09:32,03,01,2018,Tue
54,e425680f760cbc130be3e53a9773c584,f178c1827f67a8467b0385b7378d951a,delivered,2017-08-31 08:15:24,2017-08-31 08:30:17,2017-08-31 20:06:14,2017-09-04 20:59:55,2017-09-20,35,08,...,20:06:14,36,09,2017,Mon,20:59:55,38,09,2017,Wed
55,40c5e18f7d112b59b3e5113a59a905b3,67407057a7d5ee17d1cd09523f484d13,delivered,2018-06-11 10:25:52,2018-06-11 10:58:32,2018-06-14 13:03:00,2018-06-19 00:31:13,2018-07-16,24,06,...,13:03:00,25,06,2018,Tue,00:31:13,29,07,2018,Mon
56,734e7d1bbaeb2ff82521ca0fe6fb6f79,2932d241d1f31e6df6c701d52370ae02,delivered,2018-06-11 08:18:19,2018-06-11 08:31:50,2018-06-11 14:54:00,2018-06-14 21:32:21,2018-07-05,24,06,...,14:54:00,24,06,2018,Thu,21:32:21,27,07,2018,Thu
57,66e4624ae69e7dc89bd50222b59f581f,684fa6da5134b9e4dab731e00011712d,delivered,2018-03-09 14:50:15,2018-03-09 15:40:39,2018-03-15 00:31:19,2018-04-03 13:28:46,2018-04-02,10,03,...,00:31:19,14,04,2018,Tue,13:28:46,14,04,2018,Mon
58,a685d016c8a26f71a0bb67821070e398,911e4c37f5cafe1604fe6767034bf1ae,delivered,2017-03-13 18:14:36,2017-03-13 18:14:36,2017-03-22 14:03:09,2017-04-06 13:37:16,2017-03-30,11,03,...,14:03:09,14,04,2017,Thu,13:37:16,13,03,2017,Thu
59,2edfd6d1f0b4cd0db4bf37b1b224d855,241e78de29b3090cfa1b5d73a8130c72,delivered,2017-06-13 21:11:26,2017-06-15 03:05:45,2017-06-16 14:55:37,2017-06-19 18:51:28,2017-07-06,24,06,...,14:55:37,25,06,2017,Mon,18:51:28,27,07,2017,Thu
60,68873cf91053cd11e6b49a766db5af1a,4632eb5a8f175f6fe020520ae0c678f3,delivered,2017-11-30 22:02:15,2017-12-02 02:51:18,2017-12-04 22:07:01,2017-12-05 20:28:40,2017-12-18,48,11,...,22:07:01,49,12,2017,Tue,20:28:40,51,12,2017,Mon
61,f346ad4ee8f630e5e4ddaf862a34e6dd,dd5095632e3953fc0947b8ab5176b0be,delivered,2018-08-05 13:09:48,2018-08-05 13:24:34,2018-08-06 13:41:00,2018-08-10 18:35:40,2018-08-15,31,08,...,13:41:00,32,08,2018,Fri,18:35:40,33,08,2018,Wed
62,8f06cc6465925031568537b815f1198d,9916715c2ab6ee1710c9c32f0a534ad2,delivered,2017-11-15 11:31:41,2017-11-15 11:46:42,2017-11-16 22:03:00,2017-11-22 22:41:07,2017-12-05,46,11,...,22:03:00,47,11,2017,Wed,22:41:07,49,12,2017,Tue
63,ccbabeb0b02433bd0fcbac46e70339f2,c77ee2d8ba1614a4d489a44166894938,delivered,2018-02-19 20:31:09,2018-02-21 06:15:25,2018-02-22 21:04:23,2018-03-09 22:22:25,2018-03-13,08,02,...,21:04:23,10,03,2018,Fri,22:22:25,11,03,2018,Tue
64,688052146432ef8253587b930b01a06d,81e08b08e5ed4472008030d70327c71f,delivered,2018-04-22 08:48:13,2018-04-24 18:25:22,2018-04-23 19:19:14,2018-04-24 19:31:58,2018-05-15,16,04,...,19:19:14,17,04,2018,Tue,19:31:58,20,05,2018,Tue
65,f271576bed568e896f99eb710cd3a6f8,5dda11942d4f77bee3a46d71e442aec4,delivered,2018-01-07 21:44:54,2018-01-07 21:51:28,2018-01-10 21:56:09,2018-01-17 20:26:31,2018-02-14,01,01,...,21:56:09,03,01,2018,Wed,20:26:31,07,02,2018,Wed
66,686541986ecfb7d9296eb67719973bf0,74805bc388861fa350ed2fade8444e0b,delivered,2018-02-10 13:26:59,2018-02-10 13:35:31,2018-02-14 20:47:38,2018-02-20 22:13:08,2018-03-12,06,02,...,20:47:38,08,02,2018,Tue,22:13:08,11,03,2018,Mon
67,68e48e68da1f50f7c5838ea75e3a20dd,4afc1dcca5fe8926fc97d60a4497f8ab,delivered,2018-06-18 16:02:23,2018-06-18 17:00:57,2018-06-19 15:55:00,2018-06-22 21:18:51,2018-07-13,25,06,...,15:55:00,25,06,2018,Fri,21:18:51,28,07,2018,Fri
68,b52cc4919de82b4d696a4380d10804a3,be8c14c16a4d47194ccdfe10f1fc5b1a,delivered,2018-06-13 13:47:39,2018-06-15 02:37:29,2018-06-15 14:22:00,2018-06-18 22:32:44,2018-06-26,24,06,...,14:22:00,25,06,2018,Mon,22:32:44,26,06,2018,Tue
69,fdf128b3630c21adc9ca4fb8a51b68ec,a9d37ddc8ba4d9f6dbac7d8ec378cc95,delivered,2018-07-15 08:33:19,2018-07-16 14:31:10,2018-07-17 15:33:00,2018-07-24 16:41:18,2018-08-02,28,07,...,15:33:00,30,07,2018,Tue,16:41:18,31,08,2018,Thu
70,a6aeb116d2cb5013eb8a94585b71ffef,bb2f5e670f7155dc622c57e4b31d0a69,delivered,2017-09-13 14:27:11,2017-09-13 14:44:39,2017-09-15 18:42:29,2017-09-16 15:40:08,2017-09-25,37,09,...,18:42:29,37,09,2017,Sat,15:40:08,39,09,2017,Mon
71,fa516182d28f96f5f5c651026b0749ee,55e6b290205c84ddd23ddf5eb134efd4,delivered,2018-04-13 08:44:17,2018-04-13 13:30:02,2018-04-13 22:19:21,2018-04-19 20:41:45,2018-05-08,15,04,...,22:19:21,16,04,2018,Thu,20:41:45,19,05,2018,Tue
72,6abaad69b8b349c3a529b4b91ce18e46,f5618502bee8eafdee72fb6955e2ebdf,delivered,2018-02-15 10:33:30,2018-02-15 10:47:59,2018-02-20 14:15:09,2018-02-24 19:15:56,2018-03-07,07,02,...,14:15:09,08,02,2018,Sat,19:15:56,10,03,2018,Wed
73,974c1993ab8024d3ed16229183c2308d,a90391a47de936d56c66a5366cba1462,delivered,2017-02-20 11:45:39,2017-02-22 03:10:20,2017-02-23 06:47:35,2017-03-09 14:27:58,2017-03-21,08,02,...,06:47:35,10,03,2017,Thu,14:27:58,12,03,2017,Tue
74,82bce245b1c9148f8d19a55b9ff70644,388025bec8128ff20ec1a316ed4dcf02,delivered,2017-04-20 17:15:46,2017-04-21 05:15:56,2017-04-24 09:34:13,2017-05-10 09:17:55,2017-05-12,16,04,...,09:34:13,19,05,2017,Wed,09:17:55,19,05,2017,Fri
75,a910f58086d58b3ae6f37aa712d377b9,afb19a4b667cb708caab312757ec3d3f,delivered,2017-09-15 09:19:48,2017-09-15 09:35:18,2017-09-18 18:20:00,2017-09-25 20:14:48,2017-10-11,37,09,...,18:20:00,39,09,2017,Mon,20:14:48,41,10,2017,Wed
76,bd4bd0194d6d29f83b8557d4b89b572a,636e15840ab051faa13d3f781b6e4233,delivered,2018-07-28 16:52:55,2018-07-31 03:50:24,2018-08-01 16:01:00,2018-08-06 18:44:46,2018-08-08,30,07,...,16:01:00,32,08,2018,Mon,18:44:46,32,08,2018,Wed
77,634e8f4c0f6744a626f77f39770ac6aa,05e996469a2bf9559c7122b87e156724,delivered,2017-08-09 18:32:47,2017-08-09 18:45:18,2017-08-10 20:21:53,2017-08-16 18:17:54,2017-08-31,32,08,...,20:21:53,33,08,2017,Wed,18:17:54,35,08,2017,Thu
78,6d25592267349b322799e2beb687871e,5bb39c890c91b1d26801aa19a9336eac,delivered,2018-08-26 22:04:34,2018-08-28 04:10:18,2018-08-28 12:56:00,2018-08-29 12:40:53,2018-08-30,34,08,...,12:56:00,35,08,2018,Wed,12:40:53,35,08,2018,Thu
79,b8801cccd8068de30112e4f49903d74a,f26a435864aebedff7f7c84f82ee229f,delivered,2017-07-30 03:06:35,2017-07-30 03:25:08,2017-07-31 16:42:54,2017-08-01 14:27:31,2017-08-16,30,07,...,16:42:54,31,08,2017,Tue,14:27:31,33,08,2017,Wed
80,2711a938db643b3f0b62ee2c8a2784aa,29cb486c739f9774c8eb542e07b56cd2,delivered,2017-12-22 00:17:37,2017-12-23 02:15:31,2017-12-27 19:54:46,2018-01-09 19:52:32,2018-01-19,51,12,...,19:54:46,02,01,2018,Tue,19:52:32,03,01,2018,Fri
81,3bc77ce8be27211bac313c2daa402d1a,bf141bf67fbe428d558bcf0e018eab60,delivered,2017-04-06 22:39:29,2017-04-06 22:50:24,2017-04-07 14:54:18,2017-04-11 12:31:36,2017-04-27,14,04,...,14:54:18,15,04,2017,Tue,12:31:36,17,04,2017,Thu
82,10c320f977c6a18f91b2d14be13128c6,b673f0597cb0c4d12778f731045f361a,delivered,2017-05-09 20:48:59,2017-05-09 21:02:45,2017-05-10 11:22:15,2017-05-18 13:22:35,2017-06-01,19,05,...,11:22:15,20,05,2017,Thu,13:22:35,22,06,2017,Thu
83,0a4a2fccb27bd83a892fa503987a595b,6772a0a230a2667d16c3620f000e1348,delivered,2017-04-20 20:42:44,2017-04-20 20:55:09,2017-04-25 08:23:08,2017-05-11 13:07:46,2017-05-25,16,04,...,08:23:08,19,05,2017,Thu,13:07:46,21,05,2017,Thu
84,e4de6d53ecff736bc68804b0b6e9f635,9f6618c17568ac301465fe7ad056c674,delivered,2017-10-16 14:56:50,2017-10-17 03:49:34,2017-10-27 22:14:21,2017-11-08 21:25:24,2017-11-21,42,10,...,22:14:21,45,11,2017,Wed,21:25:24,47,11,2017,Tue
85,6b860b35691d486e45dc98e3514ec5f6,fee181bf648906d1c57f84f216976286,delivered,2017-12-08 09:42:43,2017-12-09 02:49:54,2017-12-11 15:19:04,2017-12-19 18:43:35,2018-01-03,49,12,...,15:19:04,51,12,2017,Tue,18:43:35,01,01,2018,Wed
86,ec341c54a5ebf8ee0a67a8632aa7579b,df9b032b2ad0fd6bf37dfb48e5f83845,delivered,2017-08-26 16:53:30,2017-08-27 17:04:12,2017-08-30 13:26:32,2017-09-08 20:39:56,2017-09-21,34,08,...,13:26:32,36,09,2017,Fri,20:39:56,38,09,2017,Thu
87,cadbb3657dac2dbbd5b84b12e7b78aad,93ada7a24817edda9f4ab998fa823d16,delivered,2018-02-27 12:55:42,2018-03-01 02:48:54,2018-03-03 02:27:03,2018-03-16 14:59:01,2018-03-29,09,02,...,02:27:03,11,03,2018,Fri,14:59:01,13,03,2018,Thu
88,9defaf92cff22420e4e8ef7784815a55,64fb950e760ec8b0db79154a1fa9c1bf,delivered,2018-05-11 13:10:51,2018-05-11 13:36:50,2018-05-16 14:43:00,2018-05-21 16:09:55,2018-06-05,19,05,...,14:43:00,21,05,2018,Mon,16:09:55,23,06,2018,Tue
89,20e0101b20700188cadb288126949685,48558a50a7ba1aab61891936d2ca7681,delivered,2018-01-22 19:22:22,2018-01-22 19:36:35,2018-01-24 23:32:21,2018-02-15 20:08:15,2018-02-19,04,01,...,23:32:21,07,02,2018,Thu,20:08:15,08,02,2018,Mon
90,0e782c3705510e717d28907746cbda82,3a897024068ed42a183de61d5727d866,delivered,2018-05-01 08:12:37,2018-05-01 08:52:58,2018-05-02 19:01:00,2018-05-04 14:02:26,2018-05-16,18,05,...,19:01:00,18,05,2018,Fri,14:02:26,20,05,2018,Wed
91,d3d6788577c9592da441752e8a1dd5e3,8628fac2267e8c8804525da99c10ed0e,delivered,2017-09-19 22:17:15,2017-09-20 07:55:14,2017-09-22 17:23:09,2017-10-10 18:43:53,2017-10-13,38,09,...,17:23:09,41,10,2017,Tue,18:43:53,41,10,2017,Fri
92,86f21bf63784876b9fd6d35f46581d72,332df68ccac2f2f7d9e11299188f8bce,delivered,2018-04-11 22:32:31,2018-04-11 22:49:32,2018-04-14 00:02:39,2018-04-27 23:14:42,2018-05-21,15,04,...,00:02:39,17,04,2018,Fri,23:14:42,21,05,2018,Mon
93,8447ff843b2616c50c0ced28ab1dae03,e28dd4261bed9c7ba89ecaf411b88f7c,delivered,2017-12-20 23:45:07,2017-12-22 02:37:45,2017-12-23 13:10:45,2018-01-09 18:14:02,2018-01-22,51,12,...,13:10:45,02,01,2018,Tue,18:14:02,04,01,2018,Mon
94,f169bd689fb8b32ccd62df9050aebc0b,82f0b75bb50fcb30711e5277e36b3983,delivered,2018-04-22 23:23:18,2018-04-24 19:24:14,2018-04-27 13:46:00,2018-04-30 17:57:25,2018-05-07,16,04,...,13:46:00,18,04,2018,Mon,17:57:25,19,05,2018,Mon
95,77e9941864fc840be8e4b1ba5347c0f7,3135962ee745ef39b85576df7ddbaa99,delivered,2018-08-03 08:59:39,2018-08-03 09:31:36,2018-08-03 10:10:00,2018-08-17 00:49:41,2018-08-27,31,08,...,10:10:00,33,08,2018,Fri,00:49:41,35,08,2018,Mon
96,41bb5cee06dbf170878a9ef93ac7e7f5,1833a0540067becaf59368fe4cd4303a,delivered,2018-05-14 08:35:33,2018-05-14 08:52:24,2018-05-16 14:46:00,2018-05-18 14:48:38,2018-06-08,20,05,...,14:46:00,20,05,2018,Fri,14:48:38,23,06,2018,Fri
97,6a0a8bfbbe700284feb0845d95e0867f,68451b39b1314302c08c65a29f1140fc,delivered,2017-11-22 11:32:22,2017-11-22 11:46:50,2017-11-27 13:39:35,2017-12-28 19:43:00,2017-12-11,47,11,...,13:39:35,52,12,2017,Thu,19:43:00,50,12,2017,Mon
98,f7959f8385f34c4f645327465a1c9fc4,0bf19317b1830a69e55b40710576aa7a,delivered,2017-03-30 07:50:33,2017-03-30 08:05:08,2017-03-30 10:55:54,2017-04-10 02:59:52,2017-04-26,13,03,...,10:55:54,15,04,2017,Mon,02:59:52,17,04,2017,Wed
99,23f553848a03aaab35bb3f9f87725125,c622b892a190735ef81c0087973fa16d,delivered,2018-06-05 09:10:34,2018-06-05 09:32:22,2018-06-06 15:37:00,2018-06-18 12:36:54,2018-07-23,23,06,...,15:37:00,25,06,2018,Mon,12:36:54,30,07,2018,Mon

## Calculate time differences

In [29]:
from datetime import datetime, timedelta
#time delta.days gives integer of difference in days, so we need to incorportate the seconds to have it in float
# 1 days = 86400.0 so we convert the difference to seconds, and then divide it by the total number of seconds in a day

def calculate_time(dataframe):
    
    dataframe['time_diff_purchased_received'] = dataframe.apply(
        lambda x: (x['order_delivered_customer_date'] - x['order_purchase_timestamp']).total_seconds() / 86400
        if x['order_delivered_customer_date'] is not None else 'Not Delivered Yet', axis=1
    )
    
    dataframe['time_diff_purchased_received_estimate'] = dataframe.apply(
        lambda x: (x['order_delivered_customer_date'] - x['order_estimated_delivery_date']).total_seconds() / 86400
        if x['order_delivered_customer_date'] is not None else 'Not Delivered Yet', axis=1
    )
    
    dataframe['received_before_after'] = dataframe.apply(
        lambda x: 1 if x['time_diff_purchased_received_estimate'] <= 0 else 0 
        if isinstance(x['time_diff_purchased_received_estimate'], float) else None, axis=1
    )
    
    dataframe['time_diff_purchased_approved'] = dataframe.apply(
        lambda x: (x['order_approved_at'] - x['order_purchase_timestamp']).total_seconds() / 86400
        if x['order_approved_at'] is not None else 'Not Delivered Yet', axis=1
    )
    
    return dataframe['time_diff_purchased_received'], dataframe['time_diff_purchased_received_estimate'], \
                            dataframe['received_before_after']

In [30]:
#apply formula 

calculate_time(orders)

(0         8.436574
 1        13.782037
 2         9.394213
 3        13.208750
 4         2.873877
            ...
 99436     8.218009
 99437    22.193727
 99438    24.859421
 99439    17.086424
 99440     7.674306
 Name: time_diff_purchased_received, Length: 99441, dtype: float64,
 0        -7.107488
 1        -5.355729
 2       -17.245498
 3       -12.980069
 4        -9.238171
            ...
 99436   -10.369433
 99437    -1.265324
 99438    -5.524803
 99439   -20.018819
 99440   -17.452431
 Name: time_diff_purchased_received_estimate, Length: 99441, dtype: float64,
 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 99436    1
 99437    1
 99438    1
 99439    1
 99440    1
 Name: received_before_after, Length: 99441, dtype: int64)

In [31]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_week_purchase,order_month_purchase,...,order_dow_customer_received,order_time_customer_received,order_week_customer_received_estimate,order_month_customer_received_estimate,order_year_customer_received_estimate,order_dow_customer_received_estimate,time_diff_purchased_received,time_diff_purchased_received_estimate,received_before_after,time_diff_purchased_approved
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,40,10,...,Tue,21:25:13,42,10,2017,Wed,8.436574,-7.107488,1,0.007431
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,30,07,...,Tue,15:27:45,33,08,2018,Mon,13.782037,-5.355729,1,1.279745
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,32,08,...,Fri,18:06:29,36,09,2018,Tue,9.394213,-17.245498,1,0.011505
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,46,11,...,Sat,00:28:42,50,12,2017,Fri,13.208750,-12.980069,1,0.012419
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,07,02,...,Fri,18:17:02,09,02,2018,Mon,2.873877,-9.238171,1,0.042940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28,10,03,...,Fri,15:08:01,13,03,2017,Tue,8.218009,-10.369433,1,0.000000
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,06,02,...,Wed,17:37:56,09,03,2018,Fri,22.193727,-1.265324,1,0.008090
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,34,08,...,Thu,11:24:17,39,09,2017,Wed,24.859421,-5.524803,1,0.012188
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,02,01,...,Thu,23:32:54,07,02,2018,Thu,17.086424,-20.018819,1,0.005486
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,10,03,...,Fri,13:08:30,14,04,2018,Tue,7.674306,-17.452431,1,0.599282

In [ ]:
orders['order_approved_at'].fillna

In [36]:
orders.isnull().sum()

order_id                                     0
customer_id                                  0
order_status                                 0
order_purchase_timestamp                     0
order_approved_at                          160
order_delivered_carrier_date              1783
order_delivered_customer_date             2965
order_estimated_delivery_date                0
order_week_purchase                          0
order_month_purchase                         0
order_year_purchase                          0
order_dow_purchase                           0
order_time_purchase                          0
order_time_day_purchase                      0
order_week_approved                        160
order_month_approved                       160
order_year_approved                        160
order_dow_approved                         160
order_time_approved                        160
order_week_carrier                        1783
order_month_carrier                       1783
order_year_carrier                        1783
order_dow_carrier                         1783
order_time_carrier                        1783
order_week_customer_received              2965
order_month_customer_received             2965
order_year_customer_received              2965
order_dow_customer_received               2965
order_time_customer_received              2965
order_week_customer_received_estimate        0
order_month_customer_received_estimate       0
order_year_customer_received_estimate        0
order_dow_customer_received_estimate         0
time_diff_purchased_received              2965
time_diff_purchased_received_estimate     2965
received_before_after                        0
time_diff_purchased_approved               160
dtype: int64

In [41]:
orders.to_csv('../raw_data/eng_datasets/eng_orders.csv')

# CUSTOMERS

In [32]:
customer = pd.read_csv('../raw_data/olist_datasets/olist_customers_dataset.csv')

In [33]:
customer

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

# GEOLOCATION

In [34]:
geolocation = pd.read_csv('../raw_data/olist_datasets/olist_geolocation_dataset.csv')

In [35]:
geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS